@charset "UTF-8";
body {
  min-width: 1200px; }

.all-category #topCategoryMenu {
  display: none;
  width: 180px;
  background-color: #FFF;
  box-shadow: -1px 3px 12px -1px rgba(0, 0, 0, 0.3); }

.nch-breadcrumb i {
  font-size: 14px;
  color: #AAA;
  margin-right: 4px; }

i[class*="fa"] {
  font-size: 14px;
  margin-right: 4px;
  /* vertical-align: middle; */ }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.nch-breadcrumb-layout {
  text-align: center; }

.nch-breadcrumb {
  font-size: 0;
  *word-spacing: -1px;
  text-align: left;
  height: 26px;
  float: none;
  margin: 0 auto; }
  .nch-breadcrumb span {
    font-size: 12px;
    line-height: 26px;
    color: #999;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    *display: inline;
    height: 20px;
    zoom: 1; }
  .nch-breadcrumb span.arrow {
    font-family: "微软雅黑";
    line-height: 26px;
    color: #AAA;
    margin: 0 6px; }
  .nch-breadcrumb a {
    color: #777;
    display: block; }

.wrapper {
  width: 1200px;
  margin: auto; }

.fa-home:before {
  content: "\f015"; }

.ncs-detail-wrap {
  position: relative;
  z-index: 2;
  width: 100%;
  background-color: #FFF; }

.ncs-detail {
  position: relative;
  z-index: 2;
  width: 1200px;
  min-height: 520px;
  margin: 0 auto;
  padding: 0;
  background-color: #FFF; }

.ncs-goods-picture {
  display: block;
  position: relative;
  z-index: auto;
  width: 380px;
  height: 490px;
  float: left;
  text-align: center;
  z-index: 999; }
  .ncs-goods-picture .controller {
    position: absolute;
    z-index: 1;
    bottom: 40px;
    left: 0;
    width: 360px;
    height: 56px;
    margin: 10px auto 0 auto; }
    .ncs-goods-picture .controller a {
      width: 50px;
      height: 50px;
      background-color: #FFF;
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      *display: block;
      padding: 2px;
      overflow: hidden;
      border: solid 1px #F5F5F5; }
      .ncs-goods-picture .controller a img {
        max-width: 100%;
        max-height: 100%; }
    .ncs-goods-picture .controller .cBtn {
      display: none;
      position: absolute;
      z-index: 1;
      top: 0;
      height: 54px;
      width: 18px;
      padding: 0;
      border: solid 1px #FFF;
      border-radius: 2px;
      background-color: #FFF;
      text-align: center;
      font-size: 18px;
      line-height: 56px;
      color: #AAA; }
    .ncs-goods-picture .controller .prev {
      left: 5px; }
    .ncs-goods-picture .controller .next {
      right: 5px; }
    .ncs-goods-picture .controller .goods-pic-box {
      position: absolute;
      top: 0;
      left: 30px;
      width: 310px;
      height: 56px;
      overflow: hidden; }
    .ncs-goods-picture .controller ul {
      position: absolute;
      top: 0;
      left: 0;
      white-space: nowrap; }
      .ncs-goods-picture .controller ul li {
        float: left;
        width: 56px;
        height: 56px;
        margin-right: 5px; }

.ncs-goods-picture .controller li a:hover, .ncs-goods-picture .controller li a.current {
  border-color: #e4393c; }

.ncs-handle {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 360px;
  height: 30px;
  padding-top: 10px; }
  .ncs-handle .favorite {
    margin-left: 10px;
    line-height: 30px;
    float: left; }
  .ncs-handle .share {
    position: relative;
    z-index: 1;
    float: left;
    color: #555;
    background-color: #FFF;
    padding: 4px 6px;
    margin-left: 10px;
    line-height: 20px;
    border: solid #FFF;
    border-width: 1px 1px 0 1px;
    background-color: #FFF; }
    .ncs-handle .share sub {
      display: none;
      position: absolute;
      z-index: 1;
      left: -1px;
      top: 28px;
      right: -1px;
      white-space: nowrap;
      border: solid #D7D7D7;
      border-width: 0 1px 1px;
      background-color: #FFF; }
      .ncs-handle .share sub a {
        display: block;
        margin-bottom: 6px;
        overflow: hidden; }

.ncs-handle .share:hover {
  text-decoration: none;
  color: #333;
  border-color: #D7D7D7; }

.ncs-handle .share:hover sub {
  display: block; }

.goods-QRcode:hover .QRcode-pic {
  display: block; }

.goods-QRcode {
  float: left;
  margin-left: 30px;
  line-height: 30px;
  position: relative;
  z-index: 1; }
  .goods-QRcode .QRcode-pic {
    display: none;
    position: absolute;
    left: 0;
    top: 30px;
    width: 120px;
    background-color: #FFF;
    border: solid 1px #E1E1E1; }
    .goods-QRcode .QRcode-pic img {
      width: 120px;
      height: 120px; }

.MagicZoomPlus img {
  border: 0 !important;
  margin: 0 !important;
  outline: 0 !important;
  padding: 0 !important; }

.MagicZoomBigImageCont {
  background: #ffffff;
  border: 1px solid #999; }

.MagicZoomPup {
  background: #fff;
  border: 1px solid #aaa;
  cursor: url(graphics/zoomin.cur), pointer; }

.MagicZoomHeader {
  background: #666;
  color: #fff;
  font-size: 10pt !important;
  line-height: normal !important;
  text-align: center !important; }

.ncs-goods-summary {
  position: relative;
  z-index: 2;
  background-color: transparent;
  float: left;
  width: 660px;
  margin-left: 10px; }

.ncs-r-mod {
  display: block;
  float: right;
  width: 140px;
  height: 480px;
  background-color: #FAFAFA; }

.ncs-goods-tag {
  position: absolute;
  top: -5px;
  left: 5px;
  overflow: hidden;
  height: 16px;
  padding: 0 3px;
  margin-top: 2px;
  margin-right: 3px;
  border-radius: 2px;
  background: #CCC;
  font: 12px/16px "Helvetica Neue","Hiragino Sans GB",SimSun,serif;
  color: #fff; }

.model-retail .ncs-goods-tag {
  display: none; }

.ncs-goods-name {
  padding: 14px 8px 10px 8px;
  overflow: hidden; }
  .ncs-goods-name h1 {
    display: block;
    font: normal 20px/28px "Microsoft Yahei";
    margin-bottom: 4px;
    color: #000; }
  .ncs-goods-name strong {
    font-family: "Microsoft Yahei";
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #e4393c; }

.model-retail .ncs-meta {
  background: url(../images/ncs_meta_bg.png) no-repeat 50% 50%;
  background-size: cover;
  margin-bottom: 10px; }
  .model-retail .ncs-meta .goods-price {
    padding: 12px 0; }

.ncs-goods-summary dl dt, .ncs-goods-summary dl dd {
  font-size: 12px;
  line-height: 30px;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  *display: inline;
  min-height: 30px;
  *zoom: 1; }

.ncs-goods-summary dl {
  font-size: 0;
  *word-spacing: -1px; }
  .ncs-goods-summary dl dt {
    text-align: left;
    width: 60px;
    margin-left: 20px;
    color: #777; }
  .ncs-goods-summary dl dd {
    text-align: left;
    width: 580px;
    color: #000; }

.ncs-meta .goods-price-real .number {
  vertical-align: baseline;
  margin-left: 5px; }

.ncs-meta .original-price {
  display: block;
  clear: both;
  font-family: Verdana;
  font-size: 12px;
  color: #A1A1A1;
  line-height: 16px;
  margin: -2px 0 4px 5px;
  text-decoration: line-through; }

.model-retail .ncs-meta .original-price {
  display: inline-block !important;
  vertical-align: text-bottom !important;
  padding-left: 10px !important;
  margin: 0 !important; }

.ncs-meta .goods-price-real .number .integer, .ncs-meta .goods-price-real .number .pointer, .ncs-meta .goods-price-real .number .decimal {
  font-size: 26px;
  color: #e4393c;
  font-weight: 500; }

.ncs-meta .goods-price-real .number .yuan {
  font-size: 16px;
  color: #e4393c; }

.ncs-freight-select {
  height: 20px;
  float: left;
  margin: 5px 6px 0 0;
  position: relative;
  z-index: 3; }
  .ncs-freight-select .text {
    line-height: 20px;
    background-color: #FFF;
    height: 20px;
    float: left;
    padding-right: 20px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer; }
    .ncs-freight-select .text b {
      font-size: 0;
      line-height: 0;
      background: url(../images/2014_ncs_public_img.png) no-repeat -50px -100px;
      display: block;
      width: 8px;
      height: 4px;
      position: absolute;
      top: 9px;
      right: 6px;
      overflow: hidden; }
  .ncs-freight-select .content {
    background-color: #FFF;
    display: none;
    width: 512px;
    padding: 0;
    border: 1px solid #D7D7D7;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05); }

#ncs-freight-prompt {
  line-height: 28px;
  color: #555;
  float: left; }
  #ncs-freight-prompt strong {
    font-weight: 500;
    margin-right: 12px; }

.ncs-service .service-name {
  color: #e80012; }

.ncs-retail-modal dl dt.ncs-number {
  margin-left: 20px;
  width: 60px; }

.ncs-retail-modal dl dt, .ncs-retail-modal dl dd {
  font-size: 12px;
  line-height: 30px;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  *display: inline;
  min-height: 30px;
  *zoom: 1; }

.ncs-retail-modal .amount {
  float: left; }

.ncs-retail-modal .amount .minus, .ncs-retail-modal .amount .plus {
  position: relative;
  z-index: 1;
  display: block;
  width: 28px;
  height: 28px;
  text-align: center;
  float: left;
  border: solid #E1E1E1 1px;
  background-color: #FAFAFA;
  line-height: 28px;
  cursor: pointer; }

.ncs-retail-modal .amount .crisis, .ncs-retail-modal .amount .crisis:hover {
  background-color: #FAFAFA;
  border-color: #E1E1E1;
  cursor: not-allowed; }

.ncs-retail-modal .amount .minus {
  margin-right: -1px; }

.ncs-retail-modal .amount .plus {
  margin-left: -1px; }

.ncs-retail-modal .amount .minus i, .ncs-retail-modal .amount .plus i {
  margin: 0; }

.ncs-retail-modal .amount .input-text {
  position: relative;
  z-index: 1;
  display: block;
  float: left;
  width: 40px;
  height: 20px;
  text-align: center;
  padding: 4px;
  border: solid 1px #E1E1E1;
  line-height: 20px; }

.ncs-goods-summary .ncs-btn {
  height: 42px;
  padding: 10px 0 10px 80px; }

.ncs-goods-summary .ncs-btn a.buynow, .ncs-goods-summary .ncs-btn a.addcart, .ncs-goods-summary .ncs-btn a.arrivebtn, .ncs-goods-summary .ncs-btn a.no-buynow, .ncs-goods-summary .ncs-btn a.no-addcart, .ncs-pin-modal .ncs-btn a.buynow, .ncs-pin-modal .ncs-btn a.addcart, .ncs-pin-modal .ncs-btn a.arrivebtn, .ncs-pin-modal .ncs-btn a.no-buynow, .ncs-pin-modal .ncs-btn a.no-addcart {
  font: lighter 18px/40px "Microsoft Yahei";
  color: #FFF;
  text-align: center;
  display: inline-block;
  width: 150px;
  height: 40px;
  text-align: center;
  margin: 0 10px 0 0;
  border: solid 1px;
  position: relative;
  overflow: hidden;
  -webkit-transition: .2s ease-in-out;
  -moz-transition: -webkit-transform .2s ease-in-out;
  -o-transition: -webkit-transform .2s ease-in-out;
  transition: .2s ease-in-out; }

.ncs-goods-summary .ncs-btn a.buynow, .ncs-pin-modal .ncs-btn a.buynow {
  border-color: #e4393c;
  background-color: #e4393c; }

.ncs-goods-summary .ncs-btn a.addcart, .ncs-pin-modal .ncs-btn a.addcart {
  border-color: #F2DCBC;
  background-color: #FFF5EC;
  color: #e4393c; }

.ncs-goods-summary .ncs-btn a i {
  font-size: 18px;
  margin-right: 6px;
  vertical-align: middle; }

.fa-shopping-cart:before {
  content: "\f07a"; }

.ncs-cti dd span, .ncs-cti dd span a {
  margin-right: 10px;
  color: #999;
  white-space: nowrap; }

.pr {
  position: relative; }

.goods-gift {
  margin-bottom: 10px; }

.ncs-logistics {
  position: relative;
  z-index: 2;
  padding-top: 5px;
  margin-top: 10px;
  border-top: 1px solid #F1F1F1; }

.ncs-service {
  position: relative;
  z-index: 2;
  padding-top: 5px;
  margin-top: 10px; }

.ncs-key {
  position: relative;
  z-index: 3;
  border-top: solid 1px #F1F1F1;
  margin-top: 10px;
  padding-top: 10px; }

.ncs-cti {
  margin-bottom: 10px; }

.ncs-chain-wrap {
  display: block;
  margin-top: 25px;
  border: 1px solid #ddd;
  height: 127px; }

.ncs-r-mod-tit {
  display: block;
  height: 20px;
  padding: 10px 10px 0 10px; }
  .ncs-r-mod-tit h4 {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    color: #333; }
  .ncs-r-mod-tit a {
    float: right;
    color: #777; }

i.icon {
  font-size: 14px;
  margin-right: 5px; }

.ncs-r-mod-con {
  display: block;
  margin: 0 10px; }
  .ncs-r-mod-con ul {
    width: 100%;
    margin-top: -1px; }
  .ncs-r-mod-con li {
    display: block;
    padding: 8px 0 0; }
  .ncs-r-mod-con .ncs-recom-goods-thumb {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    overflow: hidden; }
  .ncs-r-mod-con .goods-price {
    display: block;
    width: 100%;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #616161;
    line-height: 20px;
    font-family: Verdana; }
    .ncs-r-mod-con .goods-price em {
      font-size: 12px; }

.ncs-sidebar-container .title {
  background-color: #F7F7F7;
  height: 20px;
  padding: 5px 10px;
  border: solid #DDD;
  border-width: 1px 1px 0 1px; }

.chat_online, .chat_offline {
  line-height: 999% !important;
  background: url(../images/chat_state_01.png) no-repeat 0 0;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  width: 21px;
  height: 21px;
  margin: 2px 3px 0 10px;
  overflow: hidden;
  *zoom: 1; }

.m-l-10 {
  margin-left: 10px !important; }

.fl {
  float: left !important; }

.fa-qrcode:before {
  content: "\f029"; }

.fa-caret-down:before {
  content: "\f0d7"; }

.fa-share-alt:before {
  content: "\f1e0"; }

.fa-star-o:before {
  content: "\f006"; }

.m-t-10 {
  margin-top: 10px !important; }

.ncs-promotion {
  margin-bottom: 20px;
  position: relative;
  z-index: 2; }

.ncs-goods-layout {
  width: 1200px;
  margin: 10px auto;
  position: relative;
  z-index: 1; }

.ncs-sidebar {
  width: 210px;
  position: relative;
  z-index: 1;
  float: left; }
  .ncs-sidebar .service {
    border: solid 1px #E1E1E1;
    margin-bottom: 15px; }
    .ncs-sidebar .service .displayed {
      height: 20px;
      padding: 9px;
      background-color: #FAFAFA;
      border-bottom: solid 1px #E1E1E1;
      font: 600 14px/20px "Microsoft Yahei";
      color: #555; }
    .ncs-sidebar .service .sub {
      background: #FFF; }
      .ncs-sidebar .service .sub .default {
        padding: 9px; }

.ncs-sidebar-container {
  margin-bottom: 15px; }
  .ncs-sidebar-container .title {
    background-color: #fAfAfA;
    height: 20px;
    padding: 9px; }
    .ncs-sidebar-container .title h4 {
      font: 600 14px/20px "Microsoft Yahei";
      color: #555; }
  .ncs-sidebar-container .content {
    background: #FFF;
    border: solid #E1E1E1 1px; }

.ncs-top-panel {
  overflow: hidden;
  padding: 0 10px; }
  .ncs-top-panel li {
    display: block;
    clear: both;
    margin-top: -1px;
    border-top: dotted 1px #E1E1E1; }
  .ncs-top-panel dl {
    display: block;
    height: 62px;
    position: relative;
    z-index: 1;
    padding: 10px 0 10px 70px;
    overflow: hidden; }
  .ncs-top-panel dt {
    display: block;
    width: 100%;
    height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 24px; }
  .ncs-top-panel dd.goods-pic {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 0;
    background-color: #FFF;
    display: block;
    width: 60px;
    height: 60px;
    border: solid 1px #F5F5F5; }
    .ncs-top-panel dd.goods-pic a {
      display: block;
      padding: 2px;
      text-align: center; }
  .ncs-top-panel dd.price {
    display: block;
    height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 18px;
    color: #555; }
    .ncs-top-panel dd.price em {
      font-weight: 600;
      color: #333; }
  .ncs-top-panel dd.selled, .ncs-top-panel dd.collection {
    display: block;
    height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 18px;
    color: #999; }

.ncs-goods-main {
  width: 980px;
  float: right; }

.ncs-goods-tabbar {
  position: relative;
  z-index: 1;
  background-color: #FFF;
  border: solid 1px;
  border-color: #e4393c #E5E5E5 #E5E5E5; }

.ncs-tabbar-store {
  display: none;
  width: 210px;
  height: 40px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  margin-left: -600px; }
  .ncs-tabbar-store h4 {
    font-size: 14px;
    font-weight: 600;
    color: #555; }

.ncs-goods-con-nav {
  margin: 0; }

.ncs-tabbar-buy {
  display: none;
  height: 50px;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 50%;
  margin-right: -600px;
  border-right: solid 1px #E1E1E1; }

.nav-goods-pin .ncs-tabbar-store, .nav-goods-pin .ncs-tabbar-buy {
  display: block; }

.nav-goods-pin .ncs-goods-con-nav {
  width: 980px;
  margin: 0 auto;
  padding-left: 220px; }

.nav-goods-pin {
  display: block;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  border-width: 0 0 1px 0; }

.ncs-detail-rate {
  width: 182px;
  padding: 5px;
  margin: 0 auto;
  background-color: #FFF;
  color: #999; }
  .ncs-detail-rate ul {
    font-size: 0;
    *word-spacing: -1px;
    padding: 5px 0; }
    .ncs-detail-rate ul li {
      font-size: 12px;
      color: #333;
      vertical-align: top;
      text-align: center;
      display: inline-block;
      *display: inline;
      width: 33.333%;
      height: 32px;
      *zoom: 1; }
      .ncs-detail-rate ul li h5 {
        color: #777;
        line-height: 16px;
        height: 16px; }
  .ncs-detail-rate .equal {
    color: #DA542E; }

.ncs-detail-rate li div i {
  background: url(../images/2014grate.png) no-repeat;
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px; }

.ncs-detail-rate .equal i {
  background-position: -32px -40px; }

.ncs-info .btns {
  font-size: 0;
  *word-spacing: -1px;
  text-align: center;
  padding-bottom: 12px;
  border-bottom: dotted 1px #E6E6E6; }

.nav-goods-pin .ncs-tabbar-store .content {
  display: none;
  background-color: #FFF;
  border: solid #E1E1E1;
  border-width: 0 1px 1px;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05); }

.ncs-tabbar-store h4 {
  font-size: 14px;
  font-weight: 600;
  color: #555; }

.nav-goods-pin .ncs-tabbar-store .title {
  padding: 10px 11px; }

.nav-goods-pin .ncs-tabbar-store:hover .title {
  padding: 10px !important;
  border: solid #E1E1E1;
  border-width: 0 1px;
  background-color: #FFF; }

.nav-goods-pin .ncs-tabbar-store, .nav-goods-pin .ncs-tabbar-buy {
  display: block; }

.nav-goods-pin .ncs-tabbar-store:hover .content {
  display: block; }

.ncs-goods-con-nav ul {
  height: 50px; }
  .ncs-goods-con-nav ul li {
    float: left;
    height: 50px; }
    .ncs-goods-con-nav ul li a {
      display: block;
      padding: 15px 25px;
      font-size: 13px;
      line-height: 20px;
      color: #333; }
  .ncs-goods-con-nav ul li.current a {
    font-size: 14px;
    color: #e4393c;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: -webkit-transform .2s ease-in-out;
    -o-transition: -webkit-transform .2s ease-in-out;
    transition: .2s ease-in-out; }

.ncs-goods-sort {
  font-size: 0;
  *word-spacing: -1px;
  background-color: #FFF;
  border-bottom: solid 1px #E6E6E6;
  padding: 9px;
  margin: 15px 0; }
  .ncs-goods-sort li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 23%;
    height: 24px;
    padding: 0 0 0 2%;
    margin: 0;
    letter-spacing: normal;
    word-spacing: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
    overflow: hidden;
    font-size: 12px;
    line-height: 24px; }

.ncs-goods-info-content {
  padding-bottom: 23px; }
  .ncs-goods-info-content p {
    word-break: break-all;
    word-wrap: break-word; }

.ncs-goods-title-bar {
  background-color: #FFF;
  border-style: solid;
  border-color: #e4393c #E5E5E5 #E5E5E5;
  border-width: 1px 1px 1px 1px; }

.ncs-goods-title-bar h4 {
  text-decoration: none;
  color: #777;
  display: block;
  padding: 15px 25px;
  font-family: "Microsoft Yahei";
  font-size: 14px;
  line-height: 20px; }

.ui-box {
  border: 1px solid #ddd;
  margin-bottom: 10px; }

.ui-box .serve-agree-bd {
  padding: 20px 20px 20px 62px; }

.ui-box .serve-agree-bd dl dt {
  display: block;
  height: 32px;
  line-height: 32px;
  margin-left: -42px;
  font-size: 16px;
  color: #e4393c;
  font-family: 微软雅黑; }

.ui-box .serve-agree-bd dl dd {
  display: block;
  padding: 10px 0 30px;
  line-height: 18px; }

.ui-box .serve-agree-bd dl dt i {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin-right: 10px;
  vertical-align: bottom;
  background: url(../images/ygshow.png) no-repeat; }

.ui-box .serve-agree-bd dl dt i.goods {
  background-position: 0 0; }

.ui-box .serve-agree-bd dl dt i.no-worries {
  background-position: -72px 0; }

.ncs-serve-agree-content p {
  line-height: 24px;
  padding: 0 10px; }

.ncs-goods-info-content {
  padding-bottom: 23px; }

.ncs-comment .rate {
  line-height: 20px;
  color: #F32613;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 10px 40px 10px 20px; }

.ncs-goods-info-content .top {
  padding: 9px;
  margin-bottom: 20px;
  border: solid #E6E6E6;
  border-width: 0 1px 1px; }

.ncs-goods-title-nav {
  margin-top: 0; }

.ncs-commend-main {
  padding: 20px 0 0 0;
  border: solid #E6E6E6;
  border-width: 0 1px 1px; }

.ncs-comment .percent {
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.ncs-comment .rate strong {
  font: lighter 40px/40px arial;
  vertical-align: bottom; }

.ncs-comment .rate span {
  color: #999;
  display: block;
  clear: both; }

.ncs-comment .percent dd {
  background-color: #F5F5F5;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  width: 100px;
  height: 14px;
  margin: 3px 0; }

.ncs-comment .percent dt {
  font-size: 12px;
  line-height: 20px;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  width: 80px;
  height: 20px; }

.ncs-comment .percent dd i {
  background-color: #F32613;
  display: block;
  height: 14px; }

.ncs-goods-title-nav {
  margin-top: 0; }

.ncs-goods-title-nav ul {
  font-size: 0;
  *word-spacing: -1px;
  background-color: #FFF;
  border: solid 1px;
  border-color: #e4393c #E5E5E5 #E5E5E5; }

.ncs-goods-title-nav ul li {
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  *display: inline;
  zoom: 1; }

.ncs-goods-title-nav ul li a {
  text-decoration: none;
  color: #777;
  background-color: #FFF;
  display: block;
  padding: 15px 25px;
  font-family: "Microsoft Yahei";
  font-size: 12px;
  line-height: 20px; }

.ncs-goods-title-nav ul li.current a {
  color: #e4393c;
  font-size: 14px; }

.ncs-goods-info-content .top {
  padding: 9px;
  margin-bottom: 20px;
  border: solid #E6E6E6;
  border-width: 0 1px 1px; }

.ncs-cosult-tips {
  width: 780px;
  height: 65px;
  float: left;
  margin: 10px 0 5px 10px;
  position: relative;
  z-index: 1; }

.ncs-cosult-askbtn {
  float: right;
  padding: 10px; }

.ncs-cosult-tips i {
  background: url(../images/2014_ncs_public_img.png) no-repeat -80px 0;
  width: 147px;
  height: 65px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0; }

.ncs-cosult-tips p {
  line-height: 18px;
  color: #9B827D;
  width: 700px;
  height: 36px;
  position: absolute;
  z-index: 1;
  top: 28px;
  left: 64px; }

.btn {
  display: inline-block;
  -moz-user-select: none;
  padding: 6px 12px;
  margin-bottom: 0;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 1.42857; }

.btn-white {
  background-color: #FFF;
  border-color: #E2E7EB;
  color: #333;
  font-weight: 400; }

.btn i {
  font-size: 14px !important;
  /* vertical-align: middle; */
  margin: 0 4px 0 0 !important; }

.btn-white:hover {
  background-color: #E2E7EB;
  border-color: #D8DDE1; }

.ncs-cosult-main {
  padding: 20px 0 0 0;
  border: solid #E6E6E6;
  border-width: 0 1px 1px; }

.ncs-norecord {
  color: #999;
  text-align: center;
  height: 70px;
  line-height: 70px;
  padding: 15px 0;
  background-color: #FFF;
  border: none !important; }

/*# sourceMappingURL=goods.css.map */
