.public-nav-layout .all-category .category .menu {
  background-color: #fff; }

a {
  color: #333;
  text-decoration: none;
  outline: medium none; }

.public-nav-layout .cate-menu-lk {
  color: #333;
  font-size: 14px; }

.public-nav-layout .all-category .category .menu {
  color: #666; }

.public-nav-layout .cate-menu-item:hover {
  background-color: #f7f7f7; }

.wrapper {
  width: 1200px;
  margin: auto; }

.nch-breadcrumb-layout {
  text-align: center; }

.nch-breadcrumb-layout {
  text-align: center;
  min-height: 26px;
  padding: 10px 0;
  margin: 0 auto; }

.nch-breadcrumb {
  font-size: 0;
  *word-spacing: -1px;
  text-align: left;
  height: 26px;
  padding: 10px 0;
  margin: 0 auto; }

.nch-breadcrumb .sort-box:hover .current .drop-arrow {
  background-position: 4px -44px; }

.nch-breadcrumb .sort-box:hover .current {
  padding: 1px 7px 2px 7px;
  border-width: 1px 1px 0 1px;
  border-color: #f30213; }

.nch-breadcrumb .sort-box:hover .sort-sub {
  display: block; }

.nch-breadcrumb {
  font-size: 0;
  *word-spacing: -1px;
  min-height: 26px;
  float: left;
  margin: 0 8px 5px 0;
  padding: 0;
  line-height: 26px; }
  .nch-breadcrumb .sort-box {
    position: relative;
    z-index: 3;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 26px; }
    .nch-breadcrumb .sort-box .current {
      position: relative;
      z-index: 2;
      display: block;
      height: 22px;
      border: solid 1px #E6E6E6;
      padding: 1px 7px;
      background-color: #FFF;
      line-height: 20px;
      color: #555; }
      .nch-breadcrumb .sort-box .current .drop-arrow {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 1px 0 0 4px;
        vertical-align: top;
        background: url(../images/search.ele.png) no-repeat 4px 7px;
        -webkit-transition: background-position .15s ease-in-out;
        -moz-transition: background-position .15s ease-in-out;
        transition: background-position .15s ease-in-out; }
  .nch-breadcrumb span {
    font-size: 12px;
    line-height: 26px;
    color: #999;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    *display: inline;
    height: 20px;
    zoom: 1; }
  .nch-breadcrumb a {
    color: #777;
    display: block; }
  .nch-breadcrumb .sort-sub {
    display: none;
    position: absolute;
    z-index: -1;
    top: 25px;
    left: 0;
    width: 348px;
    background-color: #FFF;
    border: solid 1px #f30213; }
    .nch-breadcrumb .sort-sub ul {
      font-size: 0;
      *word-spacing: -1px;
      padding: 5px; }
    .nch-breadcrumb .sort-sub li {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      width: 18%;
      height: 24px;
      padding: 0 1%;
      font-size: 12px; }
      .nch-breadcrumb .sort-sub li a {
        display: block;
        color: #555;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 24px; }

.clear {
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0; }

.selector {
  margin-bottom: 10px; }
  .selector .title {
    display: block;
    height: 24px;
    padding: 6px 10px;
    border: solid #DDD;
    border-width: 1px;
    background-color: #F2F2F2;
    line-height: 20px; }
  .selector .content {
    overflow: hidden;
    background-color: #FFF;
    position: relative;
    z-index: 1; }
    .selector .content dl {
      position: relative;
      z-index: 1;
      display: block;
      clear: both;
      margin: 0;
      border-bottom: solid 1px #DDD; }
      .selector .content dl dt {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        bottom: 0;
        width: 70px;
        border-right: solid 1px #E6E6E6;
        line-height: 24px;
        color: #777;
        padding: 6px 0 6px 10px;
        background-color: #FAFAFA; }
      .selector .content dl dd.attr-item {
        height: 22px; }
      .selector .content dl dd.list {
        position: relative;
        z-index: 1;
        margin: 0 136px 0 81px;
        padding: 6px 10px;
        background-color: #FFF; }
        .selector .content dl dd.list ul {
          font-size: 0;
          word-spacing: -1em; }
          .selector .content dl dd.list ul li {
            position: relative;
            vertical-align: top;
            letter-spacing: normal;
            word-spacing: normal;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            height: 24px;
            margin-right: 40px; }
            .selector .content dl dd.list ul li a {
              cursor: pointer;
              font-size: 12px;
              line-height: 24px;
              color: #000;
              display: inline-block; }
      .selector .content dl dd.all {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 76px;
        bottom: 0;
        width: 70px;
        text-align: right;
        padding: 9px 10px 0px 0;
        background-color: #FFF; }
        .selector .content dl dd.all a {
          display: inline-block;
          color: #555; }
          .selector .content dl dd.all a i {
            display: inline-block;
            width: 20px;
            height: 20px;
            vertical-align: top;
            background: url(../images/search.ele.png) no-repeat 4px 7px;
            border: solid 1px #E6E6E6;
            margin-left: 7px;
            -webkit-transition: background-position .15s ease-in-out;
            -moz-transition: background-position .15s ease-in-out;
            transition: background-position .15s ease-in-out; }

.f14 {
  font-size: 14px; }

.c-danger {
  color: #FF5B57 !important; }

strong {
  font-weight: bold; }

.selector .content dl dd.list ul li a:hover {
  color: #f30213; }

.QR-layout {
  position: relative;
  z-index: 2;
  text-align: center; }

.sort-bar {
  display: inline-block;
  width: 1200px;
  margin: 0 auto;
  border-top: solid 1px #DDD; }

.sort-bar-wrap.top {
  background: #F1F1F1;
  z-index: 2; }

.sort-bar-wrap {
  position: relative;
  z-index: 1;
  zoom: 1;
  height: 37px;
  padding: 0 8px;
  border-bottom: 1px solid #E7E3E7;
  background: #F9F9F9; }
  .sort-bar-wrap .fold {
    display: block;
    float: left;
    height: 25px;
    padding: 6px 14px;
    margin: 0;
    line-height: 25px;
    color: #888;
    overflow: hidden; }
  .sort-bar-wrap .unfold {
    display: block;
    float: left;
    height: 25px;
    padding: 6px 14px;
    margin: 0;
    border-left: solid 1px #E7E7E7;
    background-color: #FFF;
    line-height: 26px;
    color: #888;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: -webkit-transform .2s ease-in-out;
    -o-transition: -webkit-transform .2s ease-in-out;
    transition: .2s ease-in-out; }
  .sort-bar-wrap .block {
    display: block;
    white-space: nowrap;
    overflow: hidden; }
  .sort-bar-wrap .input-text {
    float: left;
    height: 23px;
    padding: 0 2px;
    text-align: left;
    border: solid 1px #CCC;
    font-family: Verdana;
    color: #AAA;
    line-height: 23px;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: -webkit-transform .2s ease-in-out;
    -o-transition: -webkit-transform .2s ease-in-out;
    transition: .2s ease-in-out; }
  .sort-bar-wrap .line {
    float: left;
    width: 12px;
    height: 25px; }
  .sort-bar-wrap .btn {
    float: left;
    height: 20px;
    padding: 1px 9px 3px 9px;
    margin-left: 14px;
    border: solid 1px #f30213;
    border-radius: 0;
    background-color: #FFF;
    font-size: 12px !important;
    line-height: 20px;
    color: #f30213;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: -webkit-transform .2s ease-in-out;
    -o-transition: -webkit-transform .2s ease-in-out;
    transition: .2s ease-in-out; }

.sort-bar.nav-pin {
  text-align: center;
  background-color: #F5F5F5;
  width: 100%;
  height: 40px;
  border-top: solid 1px #EAEAEA;
  border-bottom: solid 1px #CECECE;
  position: fixed;
  _position: relative;
  top: 0;
  left: 0;
  z-index: 999; }

.nch-sortbar-array {
  display: block;
  float: left;
  margin: 6px 13px 6px 0; }
  .nch-sortbar-array .screen {
    margin: 0; }
    .nch-sortbar-array .screen li {
      position: relative;
      z-index: 1;
      float: left;
      margin-left: -1px; }
      .nch-sortbar-array .screen li a {
        display: block;
        height: 23px;
        padding: 0 9px;
        border: solid 1px #CCC;
        background-color: #FFF;
        font-size: 12px;
        line-height: 23px;
        color: #333; }
        .nch-sortbar-array .screen li a i {
          display: inline-block;
          width: 13px;
          height: 12px;
          margin-top: 5px;
          margin-left: 4px;
          background: url(../images/search.ele.png) no-repeat 0 -380px;
          vertical-align: top; }
    .nch-sortbar-array .screen li.selected a {
      border-color: #f30213;
      background-color: #f30213;
      color: #FFF; }

.nch-sortbar-price.fold {
  width: 130px; }

.nch-sortbar-price .block {
  width: 188px; }

.nch-sortbar-price .input-text {
  width: 53px; }

.nch-sortbar-since .input-text {
  width: 40px; }

.nch-sortbar-since .block {
  width: 174px; }

.nch-sortbar-since.fold {
  width: 116px; }

.nch-sortbar-filter {
  position: relative;
  z-index: 1;
  display: block;
  float: left;
  width: 98px;
  height: 25px;
  padding: 6px 0;
  border: solid #E7E7E7;
  border-width: 0 1px;
  margin-left: -1px; }
  .nch-sortbar-filter .widget-label {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 25px;
    padding: 6px 14px; }
  .nch-sortbar-filter .widget-label-txt {
    display: block;
    float: left;
    color: #888;
    line-height: 25px; }
  .nch-sortbar-filter .widget-layer {
    display: none;
    position: absolute;
    z-index: 1;
    top: 37px;
    left: -1px;
    right: -1px;
    border: solid #E7E7E7;
    border-width: 0 1px 1px 1px;
    background-color: #FFF; }
    .nch-sortbar-filter .widget-layer ul {
      display: block;
      overflow: hidden; }
      .nch-sortbar-filter .widget-layer ul li {
        display: block;
        clear: both; }
        .nch-sortbar-filter .widget-layer ul li a {
          display: block;
          height: 20px;
          padding: 6px 14px;
          text-align: left;
          color: #888; }
  .nch-sortbar-filter .widget-label-arrow {
    display: block;
    float: left;
    width: 13px;
    height: 7px;
    background: url(../images/search.ele.png) no-repeat 0 0;
    margin: 9px 0 0 7px;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: -webkit-transform .2s ease-in-out;
    -o-transition: -webkit-transform .2s ease-in-out;
    transition: .2s ease-in-out; }

.nch-sortbar-filter:hover .widget-layer {
  display: block; }

.nch-sortbar-filter .widget-layer ul li a:hover, .nch-sortbar-filter .widget-layer ul li a.selected {
  background-color: #F5F5FA;
  color: #e4393c; }

.nch-sortbar-filter:hover .widget-label-arrow {
  FILTER: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -moz-transform: rotate(180deg);
  -moz-transform-origin: 50% 30%;
  -webkit-transform: rotate(180deg);
  -webkit-transform-origin: 50% 30%;
  -o-transform: rotate(180deg);
  -o-transform-origin: 50% 30%;
  transform: rotate(180deg);
  transform-origin: 50% 30%; }

.select-gift {
  line-height: 25px;
  text-align: left; }

.select-gift span {
  display: block;
  cursor: pointer; }

.sort-bar-wrap .fold span .gifts {
  color: #888; }

.select-gift .input-gift {
  background: #fff url(../images/right.png) no-repeat 999px 999px;
  cursor: pointer;
  vertical-align: middle;
  width: 12px;
  height: 12px;
  border: 1px solid #e4e4e4;
  margin-right: 5px;
  display: inline-block; }

.sort-bar-wrap .fold span .gifts:hover {
  color: #f30213; }

.select-gift span.bg-gift .input-gift {
  background-position: 0px 0px;
  border-color: #f30213; }

.m-r-5 {
  margin-right: 5px !important; }

.m-l-5 {
  margin-left: 5px !important; }

.fl {
  float: left !important; }

.m-b-10 {
  margin-bottom: 10px !important; }

.m-t-10 {
  margin-top: 10px !important; }

.tr {
  text-align: right !important; }

.nch-g-list {
  position: relative;
  z-index: 1;
  width: 1200px;
  overflow: hidden; }
  .nch-g-list li.item {
    position: relative;
    z-index: 11;
    display: block;
    float: left;
    width: 240px;
    height: 475px;
    margin-top: 10px; }
  .nch-g-list .goods-content {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 38px 9px 10px 9px;
    background-color: #FFF;
    border: solid 1px #FFF;
    overflow: hidden;
    transition: border-color 0.15s ease; }
  .nch-g-list .goods-pic {
    background: #FFF;
    width: 220px;
    height: 220px; }
    .nch-g-list .goods-pic a {
      line-height: 0;
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      *display: block;
      width: 220px;
      height: 220px;
      overflow: hidden; }
    .nch-g-list .goods-pic img {
      max-width: 220px;
      max-height: 220px; }
  .nch-g-list .goods-info {
    width: 220px;
    background-color: #FFF; }
  .nch-g-list .goods-price-deal {
    overflow: hidden; }
  .nch-g-list .p-name {
    height: 40px;
    margin-bottom: 8px;
    overflow: hidden; }
    .nch-g-list .p-name i {
      font-style: normal;
      width: 185px;
      color: #ffaa71;
      line-height: 20px; }
  .nch-g-list .p-commit {
    overflow: hidden;
    width: 100%;
    height: 18px;
    margin-top: -3px;
    margin-bottom: 9px; }
    .nch-g-list .p-commit strong {
      color: #a7a7a7;
      font-weight: 400; }
      .nch-g-list .p-commit strong .num {
        color: #646fb0;
        font-family: verdana;
        font-weight: 700; }
  .nch-g-list .p-shop {
    overflow: hidden;
    height: 18px;
    line-height: 18px;
    margin-top: -3px;
    margin-bottom: 9px; }
    .nch-g-list .p-shop span {
      position: relative;
      display: inline-block;
      height: 18px; }
      .nch-g-list .p-shop span a {
        color: #999; }
  .nch-g-list .p-icons {
    overflow: hidden;
    zoom: 1;
    height: 16px;
    margin-bottom: 12px; }
    .nch-g-list .p-icons .goods-icons {
      overflow: hidden;
      float: left;
      height: 16px;
      text-align: center;
      padding: 0 3px;
      margin-right: 3px;
      border-radius: 2px;
      background: #F30213;
      font-family: "Helvetica Neue","Hiragino Sans GB",SimSun,serif;
      font-style: normal;
      font-size: 12px;
      line-height: 16px;
      color: #FFF;
      cursor: default; }
  .nch-g-list .p-operate {
    overflow: hidden;
    margin-bottom: 10px; }
    .nch-g-list .p-operate .focus {
      width: 28px; }
    .nch-g-list .p-operate .p-o-btn {
      position: relative;
      float: left;
      height: 25px;
      padding: 0 3px 0 24px;
      border: 1px solid #DDD;
      background: #fff;
      line-height: 25px; }
      .nch-g-list .p-operate .p-o-btn a {
        display: block;
        color: #999; }
      .nch-g-list .p-operate .p-o-btn i {
        position: absolute;
        top: 3px;
        left: 4px;
        display: block;
        width: 18px;
        height: 18px;
        background: url(../images/search.ele.png) no-repeat;
        font-style: normal;
        transition: background-position .15s ease-in-out; }
    .nch-g-list .p-operate .addcart {
      width: 78px;
      text-align: center;
      margin-left: -1px; }
      .nch-g-list .p-operate .addcart a {
        display: block;
        color: #F30213; }
      .nch-g-list .p-operate .addcart i {
        background-position: 0 -500px; }
    .nch-g-list .p-operate .p-o-btn {
      position: relative;
      float: left;
      height: 25px;
      padding: 0 3px 0 24px;
      border: 1px solid #DDD;
      background: #fff;
      line-height: 25px; }
  .nch-g-list .goods-price-deal {
    overflow: hidden; }
  .nch-g-list .goods-price-offer {
    position: relative;
    z-index: 1;
    display: block;
    height: 22px;
    padding: 15px 0 8px 0;
    color: #E4393C; }
    .nch-g-list .goods-price-offer .sale-price {
      line-height: 22px;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 160px;
      overflow: hidden; }

.nch-g-list .p-operate .focus i {
  background-position: 0 -440px; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.clear {
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0; }

.nch-g-list .list_pic {
  display: block;
  width: 1200px;
  overflow: hidden; }

.pagination {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 15px 0; }

.nch-g-list .p-name em, .nch-g-list .p-name i {
  display: inline;
  overflow: hidden;
  line-height: 20px;
  transition: height .08s ease; }

.nch-g-list li:hover {
  z-index: 12; }

.nch-g-list li:hover .goods-content {
  border: solid 1px #E9E9E9;
  box-shadow: 0 0 2px 2px #F8F8F8; }

a:hover {
  color: #C81623;
  text-decoration: none; }

.nch-g-list .p-operate .p-o-btn a:hover {
  color: #F30213; }

.nch-g-list .p-operate .p-o-btn:hover {
  border-color: #F30213;
  z-index: 2; }

.nch-g-list .p-operate .focus:hover i {
  background-position: 0 -460px; }

a {
  color: #333;
  text-decoration: none;
  outline: medium none; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

.m-r-20 {
  margin-right: 20px !important; }

.m-r-10 {
  margin-right: 10px !important; }

.tr {
  text-align: right !important; }

.m-t-10 {
  margin-top: 10px !important; }

.m-b-10 {
  margin-bottom: 10px !important; }

.pagination {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 15px 0; }

.pagination ul {
  font-size: 0;
  *word-spacing: -1px; }

.pagination ul li {
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  margin: 0 2px;
  *display: inline;
  *zoom: 1; }

.pagination li:first-child {
  margin-right: 10px; }

.pagination li span {
  background-color: #FFF;
  text-align: center;
  display: block;
  padding: 0 14px;
  border: 1px solid #DDD;
  background-color: #F7F7F7;
  position: relative;
  z-index: 1;
  font-size: 14px;
  font-weight: 400;
  line-height: 36px;
  color: #AAA; }

.pagination li a span, .pagination li a:visited span {
  color: #333;
  text-decoration: none;
  position: relative;
  z-index: 1; }

.pagination li a span.currentpage {
  color: #f30213;
  background-color: transparent;
  border-color: transparent;
  position: relative;
  z-index: 2; }

.nc-goods-borowse {
  width: 100%;
  overflow: hidden;
  background-color: #FFF; }

.nc-goods-browse-box {
  position: relative;
  width: 1190px;
  height: 260px;
  padding: 0 4px;
  margin: 0 auto 10px auto;
  border: solid 1px #DDD;
  border-top: solid 2px #999; }
  .nc-goods-browse-box .content {
    position: absolute;
    top: 45px;
    left: 15px; }
  .nc-goods-browse-box .title {
    padding: 5px 15px;
    float: left;
    text-align: center; }
    .nc-goods-browse-box .title h3 {
      display: inline-block;
      font-size: 14px;
      cursor: pointer; }
  .nc-goods-browse-box .cur h3 {
    color: #F30213;
    font-weight: 600; }
  .nc-goods-browse-box .goods-list {
    overflow: hidden; }
  .nc-goods-browse-box .goods-item {
    float: left;
    text-align: center;
    width: 195px; }
  .nc-goods-browse-box .goods-pic {
    width: 130px;
    height: 130px;
    margin: 0 auto; }
    .nc-goods-browse-box .goods-pic a {
      line-height: 0;
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      *display: block;
      width: 130px;
      height: 130px;
      padding: 0;
      overflow: hidden; }
      .nc-goods-browse-box .goods-pic a img {
        max-width: 130px;
        max-height: 130px; }
  .nc-goods-browse-box .goods-info {
    width: 140px;
    margin: 0 auto 10px auto; }
    .nc-goods-browse-box .goods-info dt {
      line-height: 18px;
      height: 36px;
      overflow: hidden; }

.of {
  overflow: hidden; }

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #e23a3a; }

.bx-wrapper .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 19px;
  width: 100%; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #3E3E3E;
  text-indent: -9999px;
  display: block;
  width: 9px;
  height: 9px;
  margin: 0 3px;
  outline: 0;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.bx-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y; }
  .bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #000;
    padding-top: 20px; }
  .bx-wrapper .bx-pager-item {
    font-size: 0;
    line-height: 0; }

.nc-goods-browse-box .bx-wrapper .bx-pager.bx-default-pager a {
  width: 16px;
  height: 3px;
  margin: 0 3px 0 0;
  border-radius: 0;
  background-color: #DDD; }

.nc-goods-browse-box .bx-wrapper .bx-pager {
  top: 0;
  right: 0;
  bottom: auto;
  width: auto;
  padding: 0;
  margin-top: -40px; }

.bx-wrapper .bx-next {
  right: 0; }

.nc-goods-browse-box .bx-next {
  margin-right: -13px; }

.bx-wrapper .bx-prev {
  left: 0; }

.nc-goods-browse-box .bx-prev {
  margin-left: -15px; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  outline: 0;
  z-index: 9999;
  margin-top: -31px;
  width: 28px;
  height: 62px;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#33000000', endColorstr='#33000000');
  background: rgba(0, 0, 0, 0.2);
  font-family: simsun;
  font-size: 22px;
  font-weight: 400;
  line-height: 62px;
  color: #FFF; }

.nc-goods-browse-box .bx-wrapper .bx-controls-direction a {
  display: none;
  width: 20px;
  height: 50px;
  background-color: #F3F2F3;
  font-size: 16px;
  line-height: 50px;
  color: #797173; }

.nc-goods-browse-box .bx-wrapper .bx-controls-direction a:hover, .nc-goods-browse-box .bx-wrapper .bx-controls-direction a:focus {
  display: block;
  background-color: #F5F5F5;
  color: #F30213; }

.all-category #topCategoryMenu {
  display: none;
  width: 180px;
  background-color: #FFF;
  box-shadow: -1px 3px 12px -1px rgba(0, 0, 0, 0.3); }

/*# sourceMappingURL=goodslist.css.map */
