.header-wrap {
  width: 99%;
  height: 90px;
  border-bottom: solid 2px #F5F5F5;
  margin: 5px auto 0 auto; }

.header-wrap {
  position: relative;
  z-index: 100;
  background-color: #FFF;
  width: 100%; }

.header-wrap .wrapper {
  width: 1000px; }

.public-head-layout {
  height: 80px; }
  .public-head-layout .site-logo {
    margin: 10px 0 0 0;
    position: relative;
    width: 350px;
    height: 68px;
    float: left; }
    .public-head-layout .site-logo img {
      width: 240px;
      height: 68px; }

.wrapper {
  width: 1200px;
  margin: auto; }

a {
  color: #06C; }

.public-head-layout .site-logo span {
  display: block;
  width: 110px;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 24px;
  line-height: 30px;
  color: #333; }

.tips-wrapper {
  background: #fff8f0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center; }
  .tips-wrapper .cont-wrapper {
    display: inline-block;
    width: 90%; }
  .tips-wrapper .icon-tips {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
    background: url(../images/login_pic.png) no-repeat -150px -250px; }
  .tips-wrapper .tips-inner p {
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
    color: #999; }

.nc-login-layout {
  position: relative;
  z-index: 5;
  height: 480px;
  /* margin: 0 0 20px; */
  min-height: 600px; }

.nc-login-layout .wrapper {
  width: 1000px;
  margin: 0 auto; }

.nc-login {
  position: relative;
  z-index: 4;
  background-color: #FFF;
  width: 346px;
  padding: 0;
  margin-top: 10px;
  float: right;
  overflow: hidden; }
  .nc-login .tabs-content {
    width: 306px; }

.login-form .item {
  position: relative;
  margin-bottom: 22px;
  z-index: 1; }
  .login-form .item .login-label {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 38px;
    height: 38px;
    border-right: 1px solid #bdbdbd;
    background: url(../images/login_pic.png) no-repeat; }
  .login-form .item .name-label {
    background-position: 0 -110px; }
  .login-form .item .pwd-label {
    background-position: -48px -110px; }
  .login-form .item .vcode-label {
    background-position: -96px -110px; }

.login-form .itxt {
  overflow: hidden;
  float: none;
  width: 254px;
  height: 18px;
  min-height: 18px;
  padding: 10px 0 10px 50px;
  border: 0;
  font-family: '\5b8b\4f53';
  font-size: 14px;
  line-height: 18px; }

.login-tabs-nav {
  border-bottom: solid 1px #F4F4F4; }
  .login-tabs-nav li {
    float: left;
    width: 50%;
    height: 54px; }
    .login-tabs-nav li a.tabulous_active {
      color: #E4393C;
      font-weight: 700; }
    .login-tabs-nav li a {
      display: block;
      height: 18px;
      text-align: center;
      margin: 18px 0;
      border-right: solid 1px #F4F4F4;
      font-family: "microsoft yahei";
      font-size: 18px;
      color: #666;
      line-height: 18px; }

.login-form .item-fore3, .login-form .item-fore4, .login-form .item-fore5 {
  margin-bottom: 10px; }

.login-form .item-fore1, .login-form .item-fore2, .login-form .item-fore3 {
  width: 304px;
  height: 38px;
  border: 1px solid #bdbdbd; }

.tabulousclear {
  display: block;
  clear: both; }

.login-tabs-container {
  position: relative;
  z-index: 1;
  margin: 20px; }

.login-form .forget-pw-safe {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0; }

.login-form .itxt02 {
  width: 150px; }

.checkbox, .radio {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; }

.nc-login .tabs-content a {
  color: #666; }

.verify-code {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  text-align: center;
  line-height: 40px; }
  .verify-code .code-pic {
    opacity: 0;
    text-align: center;
    line-height: 16px;
    padding: 3px 0;
    float: right;
    width: 50px;
    display: block;
    background-color: #EEE;
    color: #999;
    position: absolute;
    top: 0; }

.nc-login .tabs-content a {
  color: #666; }

.login-form .login-btn {
  position: relative;
  width: 99%;
  height: 32px;
  margin: 0 auto;
  border: 1px solid #cb2a2d; }
  .login-form .login-btn .btn-img {
    display: block;
    width: 100%;
    height: 32px;
    text-align: center;
    padding: 0;
    border: 1px solid #e85356;
    background: #e4393c;
    font-family: 'Microsoft YaHei';
    font-size: 20px;
    color: #fff; }

.coagent {
  height: auto;
  padding: 0 20px;
  border-top: 1px solid #F4F4F4;
  background-color: #FCFCFC;
  line-height: 50px; }
  .coagent li {
    float: left; }
    .coagent li a.pdl {
      position: relative;
      display: inline-block;
      padding-left: 24px;
      color: #666; }
      .coagent li a.pdl b {
        position: absolute;
        left: 0;
        top: 16px;
        display: block;
        float: left;
        margin: 0 auto;
        width: 18px;
        height: 18px;
        background: url(../images/login_pic.png) no-repeat; }
      .coagent li a.pdl b.weixin-icon {
        background-position: -120px -250px; }
    .coagent li .line {
      color: #ccc;
      padding: 0 10px; }
  .coagent li.extra-r {
    float: right; }
  .coagent .regist-link {
    color: #b61d1d;
    font-size: 14px; }
    .coagent .regist-link a {
      color: #b61d1d; }
    .coagent .regist-link b {
      display: inline-block;
      overflow: hidden;
      width: 16px;
      height: 16px;
      vertical-align: middle;
      margin-right: 5px;
      background: url(../images/login_pic.png) no-repeat -180px -250px; }

.nc-login-layout .login-banner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 480px;
  background: #e93854; }
  .nc-login-layout .login-banner .wrapper {
    width: 1000px;
    margin: 0 auto; }

.nc-login-layout .i-inner {
  position: relative;
  z-index: 3;
  height: 480px; }

#footer {
  padding-top: 30px; }

body, button, input, select, textarea {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
  color: #666; }

/*# sourceMappingURL=login.css.map */
